html {
	height: 100%;
}

/*----------*/
/*---BODY---*/
/*----------*/
body {
	margin: 0;
	min-height: 100vh;
	font-family: Arial, Helvetica, sans-serif;
	background-color: whitesmoke;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

/*----------*/
/*--FOOTER--*/
/*----------*/
footer {
	display: flex;
	align-items: center;
	justify-content: space-around;
	background-color: white;
	border-top: solid gray 2px;
	width: 100%;
}

footer p {

	margin: 0;
	display: flex;
	align-items: center;
	gap: 10px
}

footer ul {
	list-style: none;
	display: flex;
	gap: 20px;
}

/*--------------*/
/*----EDITOR----*/
/*--------------*/

.separator {
	flex: 1;
	min-width: 100%;
	display: flex;
}

.contenu {
	width: 100%;
	position: relative;
}

.tools {
	border: solid gray 3px;
	border-bottom: none;
	background-color: rgb(189, 193, 194);
	min-width: 250px;
	padding-bottom: 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	transition: all 1s;
}

.tools * {
	transition: all 1s;
}

.top {
	position: relative;
	border-bottom: solid gray 2px;
	padding-bottom: 10px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

#cursor {
	background-color: white;
	position: absolute;
	bottom: 0;
	border: solid gray 3px;
	border-radius: .5em;
	width: 55px;
	height: 5px;

}

#btnselect div {
	text-align: center;
}

#btnselect div input{
	max-width: 200px;
}

#btnselect {
	display: grid;
	grid-template-columns: 1fr;
	gap: 20px;
	padding: 10% 10%;

}

.space-between{
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.spaced{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#bottom {
	display: flex;
	justify-content: space-around;
	align-items: center;
	position: relative;
}

#portfolio-preview-container {
	overflow: scroll;
	height: 100%;
}

#img-settings {
	width: 35px;
}

#img-tools {
	width: 55px;
}

.lblImage {
	padding-bottom: 10px;
}


#portfolio-preview {
	width: 100%;
	height: 100%;
	border: none;
}

/*--LIST-- */

.div-list ul{
	display: none;
	list-style: none;
	margin: 0;
	padding: 0;
	max-height: 140px;
	overflow-y: auto ;
	
}

.div-list ul *{
	transition: all .3s;
}

.div-list:hover ul{
	display: block;
}

.div-list:hover > button{
	border-radius: .5em .5em 0 0;
}

.div-list button{
	width: 100%;
}

.div-list ul li button{
	background-color: white;
	border: solid gray 1px;
}

.div-list ul li:last-child button{
	border-radius: 0 0 .5em .5em;
}

.div-list ul li button:hover{
	filter: brightness(75%);
}

/*--MODIFICATION--*/
#style-general, 
#style-element{
	display: flex;
	flex-direction: column;
}

#style-general h3, 
#style-element h3{
	border-bottom: solid gray 2px;
}

#style-general p, 
#style-element p{
	margin: 0;
	text-align: left;
	width: fit-content;
}

#style-general input[type=color], 
#style-element input[type=color]{
	background-color: transparent;
	border: none;
	height: 35px;
	width: 35px;
	cursor: pointer;
}

#style-general input[type=color]::-webkit-color-swatch, 
#style-element input[type=color]::-webkit-color-swatch {
	border-radius: 50%;
}

#cb-color-background ~ input{
	display: none;
}

#cb-color-background:checked ~ input{
	display: block;
	width: 29px;
	height: 29px;
}

#cb-bold,
#cb-italic{
	display: none;
}

#lbl-bold,
#lbl-italic{
	background-color: white;
	border: double gray 3px;
	border-radius: .5em;
	height: 30px;
	width: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
}

#lbl-bold{
	font-weight: bold;
}

#lbl-italic{
	font-family: serif;
	font-style: italic;
}

#lbl-bold:hover,
#lbl-italic:hover{
	cursor: pointer;
	filter: brightness(85%);
}

#cb-bold:checked + label#lbl-bold,
#cb-italic:checked + label#lbl-italic{
	border: solid 3px gray;
}


.m-top{
	margin-top: 20px;
}


/*----------*/
/*--POPUPS--*/
/*----------*/

#popup-container {
	position: absolute;
	display: none;
	width: 100vw;
	height: 100vh;
	background-color: rgba(74, 73, 75, 0.72);
	z-index: 50;
}

#popup {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	background-color: #fff;
	max-width: 350px;
	border-radius: 0.5em;
	padding: 1rem;

	box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

#popup form h1 {
	font-size: 1.25rem;
	line-height: 1.75rem;
	font-weight: 600;
	text-align: center;
	color: #000;
}

#popup form input:not(#submit) {
	outline: none;
	border: 1px solid #e5e7eb;
	margin: 8px 0;
	background-color: #fff;
	padding: 1rem;
	font-size: 0.875rem;
	line-height: 1.25rem;
	width: 315px;
	border-radius: 0.5rem;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

#submit {
	position: relative;
	display: block;
	padding: 0.75rem 1.25rem;
	background-color: blueviolet;
	color: #ffffff;
	font-size: 0.875rem;
	line-height: 1.25rem;
	font-weight: 500;
	border-radius: 0.5rem;
	text-transform: uppercase;
	margin: auto;
}

/*----------*/
/*--BUTTON--*/
/*----------*/
button {
	font-family: inherit;
	font-weight: bold;
	padding: 0.8em;
	transition: .2s;
}

button:hover {
	cursor: pointer;
}

img:hover {
	cursor: pointer;
}

.button {
	background-color: blueviolet;
	color: white;
	border: solid blueviolet 1px;
	border-radius: 0.6em;
	padding: 10px 20px;
}

.buttonNew{
	width: 2px;
    display: flex;
    background-color: blueviolet;
    color: white;
    border: solid blueviolet 1px;
    border-radius: 0.6em;
    padding: 10px 20px;
    justify-content: center;
	width: min-content;

}

.buttonNew:hover{
	background-color: rgb(98, 27, 165);
}

.divNewButton{
	display: flex;
	justify-content: center;
	align-items: center;
}


.button:hover {
	background-color: rgb(98, 27, 165);
}

/*----------*/
/*-BTNTOOLS-*/
/*----------*/

#cb-reduce{
	display: none;
}

#trapeze {
	position: absolute;
	right: 0;
	top: 40%;
	width: 50px;
	height: 50px;
	border: 3px solid gray;
	border-color: transparent gray transparent transparent;
	border-width: 20px;
	display: none;
	align-items: center;
}

#btn-reduce{
	position: absolute;
	right: -22px;
	display: flex;
	flex-direction: column;
	gap: 7px;
	cursor: pointer;
}

#btn-reduce div{
	background-color: black;
	width: 20px;
	height: 5px;
	transition: .2s;
}

#c-top{
	rotate: 45deg;
}
#c-bottom{
	rotate: -45deg;
}

.red{
	background-color: rgb(255, 48, 48);
	border: solid 1px rgb(255, 48, 48);
	border-radius: .5em;
	color: white;
}

.green{
	background-color: rgb(72, 175, 56);
	border: solid 1px rgb(72, 175, 56);
	border-radius: .5em;
	color: white;
}

.red:hover,
.green:hover{
	filter: brightness(75%);
}
/*----------*/
/*MEDIAQUERY*/
/*----------*/
@media (max-width: 600px) {

	footer ul {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 10px
	}

	footer p {
		flex-direction: column;
		gap: 2px;
	}
}

@media (max-width: 800px) {

	#trapeze{
		display: flex;
	}

	#cb-reduce:checked + section div label #c-top{
		rotate: -45deg;
	}

	#cb-reduce:checked + section div label #c-bottom{
		rotate: 45deg;
	}

	#cb-reduce:checked + section + section.tools{
		min-width: 0px;
		width: 0px;
	}

	#cb-reduce:checked + section + section.tools *{
		display: none;
	}


}