html {
	height: 100%;
}

/*----------*/
/*---BODY---*/
/*----------*/
body {
	margin: 0;
	min-height: 100vh;
	font-family: Arial, Helvetica, sans-serif;
	background-color: whitesmoke;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

/*----------*/
/*--FOOTER--*/
/*----------*/
footer {
	display: flex;
	align-items: center;
	justify-content: space-around;
	background-color: white;
	border-top: solid gray 2px;
	width: 100%;
}

footer p {

	margin: 0;
	display: flex;
	align-items: center;
	gap: 10px
}

footer ul {
	list-style: none;
	display: flex;
	gap: 20px;
}

/*--------------*/
/*----EDITOR----*/
/*--------------*/

.separator {
	flex: 1;
	min-width: 100%;
	display: flex;
}

.contenu {
	width: 100%;
	position: relative;
}

.tools {
	border: solid gray 3px;
	border-bottom: none;
	background-color: rgb(189, 193, 194);
	min-width: 250px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding-bottom: 20px;
	transition: all 1s;
}

.tools * {
	transition: all 1s;
}

.top {
	position: relative;
	display: flex;
	justify-content: space-around;
	align-items: center;
	border-bottom: solid gray 2px;
	padding-bottom: 10px;
}

#cursor {
	background-color: white;
	position: absolute;
	bottom: 0;
	border: solid gray 3px;
	border-radius: .5em;
	width: 55px;
	height: 5px;

}

#btnselect div {
	text-align: center;
}

#btnselect {
	display: grid;
	grid-template-columns: 1fr;
	gap: 20px;
	padding: 10% 10%;

}

#bottom {
	display: flex;
	justify-content: space-around;
	align-items: center;
	position: relative;

}

#portfolio-preview-container {
	overflow: scroll;
	height: 100%;
}

#img-settings {
	width: 35px;
}

#img-tools {
	width: 55px;
}

.divImage {
	padding-top: 20px;
}

.lblImage {
	padding-bottom: 10px;
}


#portfolio-preview {
	width: 100%;
	height: 100%;
	border: none;
}

/*----------*/
/*--POPUPS--*/
/*----------*/

#popup-container {
	position: absolute;
	display: none;
	width: 100vw;
	height: 100vh;
	background-color: rgba(74, 73, 75, 0.72);
	z-index: 50;
}

#popup {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	background-color: #fff;
	max-width: 350px;
	border-radius: 0.5em;
	padding: 1rem;

	box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

#popup form h1 {
	font-size: 1.25rem;
	line-height: 1.75rem;
	font-weight: 600;
	text-align: center;
	color: #000;
}

#popup form input:not(#submit) {
	outline: none;
	border: 1px solid #e5e7eb;
	margin: 8px 0;
	background-color: #fff;
	padding: 1rem;
	font-size: 0.875rem;
	line-height: 1.25rem;
	width: 315px;
	border-radius: 0.5rem;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

#submit {
	position: relative;
	display: block;
	padding: 0.75rem 1.25rem;
	background-color: blueviolet;
	color: #ffffff;
	font-size: 0.875rem;
	line-height: 1.25rem;
	font-weight: 500;
	border-radius: 0.5rem;
	text-transform: uppercase;
	margin: auto;
}

/*----------*/
/*--BUTTON--*/
/*----------*/
button {
	font-family: inherit;
	font-weight: bold;
	padding: 0.8em;
	transition: .2s;
}

button:hover {
	cursor: pointer;
}

.button {
	background-color: blueviolet;
	color: white;
	border: solid blueviolet 1px;
	border-radius: 0.6em;
	padding: 10px 20px;
}

.button:hover {
	background-color: rgb(98, 27, 165);
}

/*----------*/
/*-BTNTOOLS-*/
/*----------*/

#cb-reduce{
	display: none;
}

#trapeze {
	position: absolute;
	right: 0;
	top: 40%;
	width: 50px;
	height: 50px;
	border: 3px solid gray;
	border-color: transparent gray transparent transparent;
	border-width: 20px;
	display: none;
	align-items: center;
}

#btn-reduce{
	position: absolute;
	right: -22px;
	display: flex;
	flex-direction: column;
	gap: 7px;
	cursor: pointer;
}

#btn-reduce div{
	background-color: black;
	width: 20px;
	height: 5px;
	transition: .2s;
}

#c-top{
	rotate: 45deg;
}
#c-bottom{
	rotate: -45deg;
}



/*----------*/
/*MEDIAQUERY*/
/*----------*/
@media (max-width: 600px) {

	footer ul {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 10px
	}

	footer p {
		flex-direction: column;
		gap: 2px;
	}
}

@media (max-width: 800px) {

	#trapeze{
		display: flex;
	}

	#cb-reduce:checked + section div label #c-top{
		rotate: -45deg;
	}

	#cb-reduce:checked + section div label #c-bottom{
		rotate: 45deg;
	}

	#cb-reduce:checked + section + section.tools{
		min-width: 0px;
		width: 0px;
	}

	#cb-reduce:checked + section + section.tools *{
		display: none;
	}


}