 html{
	height: 100%;
}
/*----------*/
/*---BODY---*/
/*----------*/
body{
	margin: 0;
	position: relative;
	min-height: 100%;
	font-family:Arial, Helvetica, sans-serif;
	background-color:whitesmoke;
}

/*----------*/
/*--HEADER--*/
/*----------*/
header{
	position: relative;
	background-color: white;
	padding: 0 10px 0 10px;
	width: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: solid gray 2px ;
}

header h1{
	display: flex;
	align-items: center;
}

header label{
	display: none;
	font-size: x-large;
}

header ul#btn-login {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 2px;
	list-style-type: none;
	margin: 0;
	padding: 0;
	min-width: 122px;
}

header ul.nav {
	display: grid;
	grid-template-columns: repeat(4,1fr);
	list-style-type: none;
	text-align: center;
	gap:30px;
	margin: 0;
	padding: 0;
}

header ul li button{
	width: 100%;
}
header ul li a{
	color: black;
	text-decoration: none;
}
header ul li a:hover{
	border-bottom: solid 3px;
	border-color: currentColor;
}

header ul li ul{
	display: none;
	position: absolute;
	list-style-type: none;
	max-width: 122px;
}

header ul li:hover ul{
	background-color: gainsboro;
	display: grid;
	justify-content: center;
	padding: 3px 0;
	gap: 4px;
	grid-template-columns: 115px;
	
	z-index: 10;
}


header ul li:hover #btn-account{
	border-radius: 0.6em 0.6em 0 0;
}

header ul li ul li button{
	background-color: white;
	text-align: left;
	border: none;
}

header ul li ul li button:hover{
	background-color: blueviolet;
	color: white;
	transition: .5s;
}

#burger-menu{
	display: none;
}
/*----------*/
/*--FOOTER--*/
/*----------*/
footer{
	display: flex;
	align-items: center;
	justify-content: space-around;
	background-color: white;
	border-top: solid gray 2px;
	position: absolute;
	bottom: 0;
	width: 100%;
}

footer p{
	margin: 0;
	display: flex;
	align-items: center;
	gap: 10px
}

footer ul{
	list-style: none;
	display: flex;
	gap: 20px;
}

/*----------*/
/*---MAIN---*/
/*----------*/
main{
	min-height: 100%;
	padding-bottom: 120px;
	margin: 0 10px 0 10px;
	position: relative;
	z-index: 1;
}


/*----------*/
/*---DIV----*/
/*----------*/
/* .right-position{
	display: flex;
	justify-content: right;
	padding: 10px 0 10px 0;
} */
.title{
	display: flex;
	justify-content: space-between;
	align-items: center;
}


/*----------*/
/*--BUTTON--*/
/*----------*/
button{
	font-family: inherit;
	font-weight: bold;
	padding: 0.8em;
	transition: .2s;
}

button:hover{
	cursor: pointer;
}

.button{
	background-color: blueviolet;
	color: white;
	border: solid blueviolet 1px;
	border-radius: 0.6em;
	padding: 10px 20px;
}

.button:hover{
	background-color: rgb(98, 27, 165);
}

#login{
	background-color:transparent;
	color: blueviolet;
	border: solid blueviolet 1px;
	border-radius: 0.8em;
}

#login:hover{
	color: white;
	background-color: rgb(98, 27, 165);
}


/*-----------------*/
/*--LISTPORTFOLIO--*/
/*-----------------*/


section#list-portfolio{
	border-radius:8px;
	background-color: gainsboro ;
	border: solid gray 3px;
	padding: 10px;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 300px));
	gap: 10px;
	justify-content: center;
}

.card-portfolio {
}

.card-portfolio h5{
	font-style: normal;
	margin: 0;
}

.card-portfolio div{
	height: 150px;
	background-color: white;
	border-radius:8px;
	cursor: pointer;
}

.card-portfolio h5 {
	cursor: pointer;
}

.card-portfolio div iframe{
	height: 64vh;
	width: 64vw;
	background-color: white;
	border-radius:20px;
	pointer-events: none;
	border: none;
	overflow: hidden;
	-webkit-transform:scale(.25);
	-ms-transform:scale(.5);
	transform:scale(.25);
	-webkit-transform-origin:0 0;
	-ms-transform-origin:0 0;
	transform-origin:0 0;
}

/*--------------*/
/*----EDITOR----*/
/*--------------*/

.separator{
	display: flex;
	justify-content: space-between;
}

.contenu{
	width: 85%;
}
 .content{
	 display: -webkit-box;
	 overflow: hidden;
	 -webkit-line-clamp: 3;
	 -webkit-box-orient: vertical;
 }

.tools{
	border: solid black 1px;
	background-color: rgb(189, 193, 194);
	margin-left: auto;
    margin-right: auto;
	width: 15%;
	height: 100vh;

}
.top{
	display: flex;
	justify-content: space-around;
	align-items: center;

}
#btnselect div{
	text-align: center;
}
#btnselect{
	display: grid;
	grid-template-columns: 1fr;
	gap: 20px;
	padding: 10% 10%;

}
#bottom{
	display: flex;
	justify-content: space-around;
	align-items: center;
	position: relative;
	top: 30%;

}

#portfolio-preview-container {
	overflow: scroll;
	width: 100vw;
	height: 100vh;
}
.top div img{
	padding-top: 5px;
	width: 35px;
}
#img-tools{
	width: 55px;
}
.divImage{
	padding-top: 20px;
}


#portfolio-preview {
	height: 94.4vh;
	width: 85vw;
	border: none;
}


/*----------------*/
/*----SETTINGS----*/
/*----------------*/

hr{
	width: 100%;
}

/*----------*/
/*MEDIAQUERY*/
/*----------*/
@media (max-width: 900px){
	header ul.nav{
		gap:0;
	}
}

@media (max-width: 600px){
	header ul#btn-login {
		grid-template-columns: 1fr;
	}

	header label{
		display: block;
	}

	input#burger-menu:checked + ul.nav {
		display: flex;
		flex-direction: column;
		gap: 3px;
	}

	header ul.nav {
		position: absolute;
		right: 0;
		display: none;
		bottom: -168px;
		background-color: gray;
		border-bottom: solid 3px gray;
		width: fit-content;
		z-index: 10;
	}

	header ul.nav li{
		background-color: white;
		padding: 10px 5px;
		width: 100%;
	}

	header ul.nav li a{
		width: 100%;
	}

	section#list-portfolio{
		grid-template-columns: repeat(auto-fit, minmax(0px, 300px));
	}

	footer ul{
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 10px
	}

	footer p{
		flex-direction: column;
		gap: 2px;
	}
	
	.button{
		padding: 0.8em;
	}
}